@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@400;500&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  font-weight:400 ;
  color: #fff;
  background-color: #1E1E1E;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  max-width: 80%;
  margin: auto;
}
.heading{
  font-family: 'Montserrat', sans-serif;
}
