.mainContent{
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.switchUnit{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}
.tempSwitch{
    appearance: none;
}
.tempSwitchLabel{
    display: inline-block;
    border-radius: 22px;
    background: linear-gradient(90deg, #33E017 0%, rgba(149, 241, 134, 0.00) 100%);
    height:30px;
    width: 92px;
    position: relative;
    transition: all 0.3s linear;
}
.tempSwitchLabel::after{
    content: "";
    height: 26px;
    width: 26px;
    position: absolute;
    left: 0px;
    top: 2px;
    bottom: 2px;
    border-radius: 50%;
    background: #1E1E1E;
    transition: all 0.3s linear;
}
.tempSwitch:checked + .tempSwitchLabel{
    background: linear-gradient(90deg, rgba(149, 241, 134, 0.00) 0%, #33E017 100%);
}
.tempSwitch:checked + .tempSwitchLabel::after{
    transform: translateX(66px);
}
.searchBar{
    border-radius: 10px;
    width: 50%;
    margin: auto;
}
.searchBar input{
    width: 100%;
    height: 40px;
    background: #D9D9D9;
    outline: none;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: #1E1E1E;
    text-transform: capitalize;
    padding: 0 20px;
    font-weight: 600;
}
.searchBar input::placeholder{
    color: #1E1E1E;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.weatherCardContainer{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weatherCard{
    width: 500px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 32px;
    background: linear-gradient(147deg, #AD36CB 26.56%, #333 68.75%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(255, 250, 250, 0.25), 0px 4px 4px 0px rgba(253, 245, 245, 0.25);
    padding: 30px 20px 20px 40px;
}
.noWeatherData{
    text-align: center;
    margin-top: 30px;
}
.weatherDataDisplay{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.weatherCard .cityName{
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 10px 0;
}
.weatherCard .cityTemp{
    display: flex;
    align-items: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin: 10px auto 15px auto;
}
.weatherCard .currentDate{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    margin: 10px 0;
}
.weatherCard .additionalInformation{
    width: 100%;
    margin: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.additionalInformation .information{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    text-transform: capitalize;
}
.hourlyForcast{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    overflow-x: scroll;
    padding-bottom: 30px;
}
.hourlyForcast::-webkit-scrollbar{
    margin: 10px 0 0 0;
    height: 2px;
    background-color: #1E1E1E;
}
.hourlyForcast::-webkit-scrollbar-thumb{
    background-color: #fff;
    color: #fff;
}
.hourlyForcast .hourlyCard{
    font-size: 13px;
    height: 140px;
    min-width: 120px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    background: linear-gradient(180deg, #B32DD4 0%, rgba(217, 217, 217, 0.00) 100%);
    position: relative;
}
.hourlyCard .background{
    z-index: 9;
    height: 60px;
    width: 120px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    border-radius: 25px;
    background: linear-gradient(130deg, #373333 0%, rgba(55, 51, 51, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}
.hourlyCard .noHourlyData{
    height: 100%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hourlyCard .noHourlyData img{
    z-index: 99;
    height: 60px;
    width: 60px;
}
.hourlyCard .hourlyCardDisplay{
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.hourlyCard .hourlyCardDisplay .date{
    font-size: 11px;
}
.hourlyCard .hourlyCardDisplay .weather{
    font-size: 15px;
    font-weight: 600;
}
.hourlyCard .hourlyCardDisplay .weatherDesc{
    font-size: 11px;
}
.hourlyCard .hourlyCardDisplay img{
    z-index: 99;
    height: 30px;
    width: 40px;
}

@media (max-width:720px) {
    .searchBar {
        margin: 10px auto;
        width: 80%;
    }
    .weatherCardContainer{
        margin: 0;
    }
    .weatherCard {
        scale: 0.8;
        width: 400px;
        height: 250px;
        padding: 15px 10px 10px 20px;
    }
}
@media (max-width:480px) {
    .searchBar {
        margin: 10px auto;
        width: 95%;
    }
    .weatherCardContainer{
        margin: 0;
    }
    .weatherCard {
        scale: 0.7;
        width: 400px;
        height: 250px;
        padding: 15px 10px 10px 20px;
    }
}